
  <body>
    <header>
      <ul class="fixed-top flex-wrap list-no-style">
        <li><a class="scroll" href="#page1"><i class="fa fa-home" aria-hidden="true"></i> Acceuil</a></li>
        <li><a class="scroll" href="#page2"><i class="fa fa-user" aria-hidden="true"></i> Qui suis-je ?</a></li>
        <li><a class="scroll" href="#page3"><i class="fa fa-unlock" aria-hidden="true"></i> Compétences</a></li>
        <li><a class="scroll" href="#page4"><i class="fa fa-twitter" aria-hidden="true"></i> Social</a></li>
        <li><a class="scroll" href="#page5"><i class="fa fa-address-book" aria-hidden="true"></i> Contact</a></li>
      </ul>
    </header>
    <main>

      <!-- PAGE N°1 -->
      <section id="page1" class="page1 parallax1 flex-container flex-wrap section-container">
        <div class="container-fluid flex-container half-size min-size-small">

            <h1 class="nomAcceuil">Thibault <br> Hamnache</h1>
        </div>
          <h3 class="nomMetier">Developpeur Web - Intégrateur</h3>

      </section>


      <!-- PAGE N°2 -->
      <section id="page2" class="page2 flex-container flex-wrap section-container">
          <div class="row col-lg-12 aboutMe">
            <div class="col-lg-12"><h2 class="title">Qui suis-je ?</h2> </div>

            <div class="col-lg-3 imgProfil">
              <img src="http://fakeimg.pl/200x200/"  alt="moi" height="200px" width="200px">
            </div>

            <div class="col-lg-9 profil">
              <p>Je m'appel Hamnache Thibault, j'ai 23 ans, je suis développeur web et intégrateur de formation.
                J'ai toujours été passionné par l'informatique, c'est pourquoi je me suis orienté dans cette voie en Termimale,
                j'ai fais une Terminale STMG option SIG (Systèmes d'Informations de Gestion) dans laquelle j'ai commencé a aprendre, de manière encadrer,
                le développement web ainsi que l'Infrastrucutre/Réseaux.
                J'ai ensuite effectué une première année de BTS SIO (Services Informatiques aux Organisations) dans une école privé (Ynov InfoSup Lyon)
                mais malheureusement je n'ai pas pu continué la deuxième année. J'ai finalement suivis la formation proposé par IT-Akademy dans le but de devenir développeur Full-Stack.
                Durant cette formation j'ai créé quelques petits projets qui sont les suivants : </p>
            </div>
        </div>
      </section>

      <!-- PAGE N°3 -->
            <section id="page3" class="page3 flex-container flex-wrap section-container">
              <div class="row col-lg-12 skillBarContent ">
                <div class="col-lg-12">
                  <h1 class="title">Compétences</h1>
                </div>

              <div class="col-lg-6">
                <div class="skillbar clearfix " data-percent="70%">
                	<div class="skillbar-title" style="background: #d35400;"><span>HTML5</span></div>
                	<div class="skillbar-bar" style="background: #e67e22;"></div>
                	<div class="skill-bar-percent">70%</div>
                </div>
              </div>
              <div class="col-lg-6">

                <div class="skillbar clearfix " data-percent="70%">
                	<div class="skillbar-title" style="background: #2980b9;"><span>CSS3</span></div>
                	<div class="skillbar-bar" style="background: #3498db;"></div>
                	<div class="skill-bar-percent">70%</div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="skillbar clearfix " data-percent="50%">
                	<div class="skillbar-title" style="background: #2c3e50;"><span>jQuery</span></div>
                	<div class="skillbar-bar" style="background: #2c3e50;"></div>
                	<div class="skill-bar-percent">50%</div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="skillbar clearfix " data-percent="60%">
                	<div class="skillbar-title" style="background: #46465e;"><span>PHP 7</span></div>
                	<div class="skillbar-bar" style="background: #5a68a5;"></div>
                	<div class="skill-bar-percent">60%</div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="skillbar clearfix " data-percent="30%">
                	<div class="skillbar-title" style="background: #901912;"><span>Wordpress</span></div>
                	<div class="skillbar-bar" style="background: #FF1912;"></div>
                	<div class="skill-bar-percent">30%</div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="skillbar clearfix " data-percent="70%">
                	<div class="skillbar-title" style="background: #27ae60;"><span>GIT</span></div>
                	<div class="skillbar-bar" style="background: #2ecc71;"></div>
                	<div class="skill-bar-percent">70%</div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="skillbar clearfix " data-percent="40%">
                	<div class="skillbar-title" style="background: #124e8c;"><span>JavaScript</span></div>
                	<div class="skillbar-bar" style="background: #4288d0;"></div>
                	<div class="skill-bar-percent">40%</div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="skillbar clearfix " data-percent="60%">
                	<div class="skillbar-title" style="background: #00698A;"><span>SQL</span></div>
                	<div class="skillbar-bar" style="background: #008AB5;"></div>
                	<div class="skill-bar-percent">60%</div>
                </div>
              </div>

              </div>
            </section>

                  <!-- PAGE N°4 -->

            <section id="page4" class="page4 flex-container flex-wrap section-container">
              <section class="container-fluid social parallax2 flex-container flex-wrap section-container">


                <div class="row">
                  <div class="col-lg-12">
                    <h2 class="title">Social</h2>

                      <a href="https://twitter.com/bitoo69" target = "_blank" >
                      <img src="image/twitter.png" class="socialImg rounded-circle" alt="" height="140px" width="140px">
                      </a>
                      <a href="https://www.facebook.com/Bito.Hamnache" target = "_blank" >
                      <img src="image/fb.png" class="socialImg rounded-circle" alt="moi" height="140px" width="140px">
                      </a>
                      <a href="#" target = "_blank" >
                      <img src="image/insta.png" class="socialImg rounded-circle" alt="moi" height="140px" width="140px">
                      </a>
                      <img src="http://fakeimg.pl/200x200/" class="socialImg rounded-circle" alt="moi" height="140px" width="140px">
                  </div>
                </div>
              </section>
            </section>

      <!-- LAST PAGE -->
      <section id="page5" class="page5 flex-container flex-wrap section-container">
        <div class="container">
          <div class="contact ">
            <h2 class="title">Contact</h2>
          </div>
          <div class="row">
          <div class="col-lg-3">
          </div>
          <form class="col-lg-6">
            <div class="form-group">
              <label for="exampleFormControlInput1">Votre adresse Mail : </label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nom@exemple.com">
            </div>

            <div class="form-group">
              <label for="exampleFormControlTextarea1">Que voulez vous dire ? </label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
          </form>
          <div class="col-lg-3">
          </div>
        </div>
        </div>

      </section>
    </main>
